*{
    margin: 0;
    padding:0;  
}

.card{
    height: 40rem;
}

img {
  width: 100%; /* takes the 100 % width of its container (.box div)*/
  height: 100%; /* takes the 100 % height of its container (.box div)*/
}

