*{
    margin: 0;
    padding:0;
    /* background-image: url(Home.jpg); */
    background-size: cover;
    /* background-color: darkgray; */
}

.home-buttons{
    margin-right: 50%;
}

.button-home{
    background-image: none;
    background-color: blueviolet;
    color:whitesmoke;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1000px;
    margin-top: 25px;

}